<div class="container">
  <div class="row">
    <div class="cl-lg-5">
      <h1>Editing user</h1>

      <%= render "form", user: @user %>

      <br>

      <div>
        <%= link_to "Show this user", @user, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>